@import "bootstrap";

body{
    background-color: black;
    color: white;
}
a{
    color: aqua;
}
.edit-table{
    color: white;
}
nav{
    font-size: 24px;
    padding-left: 50px;

}
nav a{
    margin:10px;
    
}